/home/pedro/VISILAB-Annotator/backend/images/4844069788_fe6c93468e_z.jpg
/home/pedro/VISILAB-Annotator/backend/images/Imagen de WhatsApp 2025-08-28 a las 12.38.45_8addab9a.jpg
/home/pedro/VISILAB-Annotator/backend/images/Parts-and-Expressions-Aptis-Writing-Part-4_page-0001-708x1024.jpg