# Datos de MongoDB (no versionar los datos de la base de datos)
mongodb/data/*
mongodb/logs/*

# Mantener las carpetas pero vacías
!mongodb/data/.gitkeep
!mongodb/logs/.gitkeep

# Node modules
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db